<div class="father w-full h-[10vh] bg-[#01192f] flex text-white items-center justify-around ">
    <div class="logo hover:cursor-pointer" routerLink="/">
       <!-- <img class=" w-[60px] h-[60px] " src="../../../../assets/images/worklab-logo.png" alt=""> -->
     <div class=" font-semibold text-3xl text-[#be8a28] ">  <\ WorkLab ></div>
    </div>

    <ul class=" flex justify-center items-center gap-8" >
        <li *ngIf="!isConnected" class=" hover:bg-green-600 p-2 hover:rounded-md flex justify-center items-center hover:cursor-pointer " routerLink="/login">
        login
        </li>
        <li *ngIf="!isConnected" class=" hover:bg-green-600 p-2 hover:rounded-md flex justify-center items-center hover:cursor-pointer " routerLink="/register">
            register
        </li>
        <li *ngIf="isConnected" class=" hover:bg-green-600 p-2 hover:rounded-md flex justify-center items-center hover:cursor-pointer "  routerLink="/home">
            home
        </li>
        <li (click)="joinWorklab()" *ngIf="isConnected" class=" hover:bg-green-600 p-2 hover:rounded-md flex justify-center items-center hover:cursor-pointer " >
            join Worklab
        </li>
        <li *ngIf="isConnected" class=" hover:bg-green-600 p-2 hover:rounded-md flex justify-center items-center hover:cursor-pointer " (click)="hide()">
            make Worklab 
        </li>
        
        <li  class=" hover:bg-green-600 p-2 hover:rounded-md flex justify-center items-center hover:cursor-pointer "  routerLink="/problems">
            Problems
        </li>  
        
        <li *ngIf="isConnected" (click)="logOut()" class=" hover:bg-green-600 p-2 hover:rounded-md flex justify-center items-center hover:cursor-pointer "  routerLink="/">
            LogOut
        </li>
       
    </ul>

    <div *ngIf="isConnected">
        {{user?.name}}
    </div>
    
</div>
<app-create-worklab *ngIf="show"></app-create-worklab>
<app-join-worklab *ngIf="showJoinWorklab" ></app-join-worklab>
