<div class="father w-full h-[10vh] bg-[#01192f] flex text-white items-center justify-around ">
    <div class="logo hover:cursor-pointer" routerLink="/">
        our logo
    </div>

    <ul class=" flex gap-4" >
        <li class=" hover:cursor-pointer " routerLink="/login">
            login
        </li>
        <li class=" hover:cursor-pointer " routerLink="/register">
            register
        </li>
        <li>
            learn more
        </li>
    </ul>

    <div>
        get premiem
    </div>
</div>
