<div class="father flex flex-col justify-between bg-gray-100 w-full h-[37.7rem] rounded-b-md ">
    <div class=" overflow-y-scroll scroll-smooth bg-[#f5f4f3] p-2 h-[92%] w-full flex flex-col-reverse justify-start " #chatbox >
        <div class="typing text-xs gap-1 text-[#22c55e] flex justify-start  items-center " *ngIf="typingPeople.size" >
            <div *ngFor="let t of typingPeople ">
               <div > {{t}}</div>
            </div>
            <div class="lds-facebook"><div></div><div></div><div></div></div>   
        </div>
        <div class=" max-w-[50%]" *ngFor="let message of chat" [ngClass]="{' self-end ': user?._id===message?.sender }"  >
            <div class="chat w-full font-medium rounded-b-[20px]  m-[2px] px-2 text-white bg-white py-1 " (dblclick)="showDate()"
            [ngClass]="{'bg-[#345dfd]  rounded-tl-[20px] ': user?._id===message?.sender 
        , 'rounded-tr-[20px] text-[#01192f]' : user?._id!==message?.sender }"  >{{message?.msg}}</div>
            <div *ngIf="showDat" class=" text-gray-400 text-xs ">{{message?.date | date}}</div>
            <div class=" w-full text-xs float-right text-gray-500 " [ngClass]="{' text-right  ': user?._id===message?.sender }"><span *ngIf=" user?._id!==message?.sender ">{{message.name}}</span><span *ngIf=" user?._id===message?.sender ">you</span></div>
        </div>
       
            </div>
    <form (submit)="onSubmit()" class="bot w-full h-[15%] bg-[#fffffe] py-4 px-8 ">
        <div class="bot w-full h-full flex relative bg-[#f5f5f5] rounded-lg items-center justify-between p-2 ">
            <input (input)="typing()" (keyup.backspace)="deleteMsg()" (keyup.control)="deleteMsg()" [(ngModel)]="message" class=" w-[70%] bg-transparent border-none rounded-md outline-none px-2  " autocomplete="off" placeholder="react with aothers" type="text" name="message"  id="">
            <button type="submit" class="bg-gradient-to-br shadow-[5px_6px_10px_rgba(30,143,213,0.3)] from-[#233fc8] to-[rgb(30,143,213)] absolute rounded-[50%] w-[2.5rem] h-[2.5rem] font-[40px] bg-red-300 top-[-10px] right-[-10px] " [disabled]="message ===''">   <fa-icon [icon]="plan" class="text-[#fff] text-[20px] "></fa-icon> </button>
        </div>
    </form>

</div>