<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="bg-gray-50 min-h-screen flex items-center justify-center">

        <div class="bg-gray-100  flex shadow-lg rounded-2xl max-w-3xl p-5"  >

            <div class="sm:w-1/2 px-16">
                    <h2 class="font-bold text-2xl  text-blue-900">Register</h2>
                    <p class="text-sm mt-4 text-blue-900 " >Register now to get more benefits !  </p>
<!-- ------------------------------------- -->
                    <form (submit)="onSubmit(myForm)" #myForm="ngForm" class="flex flex-col gap-4">

                        <input class="p-2 mt-8 rounded-xl border" type="email" placeholder="enter your mail" name="email" ngModel required #email="ngModel" email>
                        <input class="p-2 mt-8 rounded-xl border" type="text" placeholder="enter your Name" name="name" ngModel required #name="ngModel" >
                        <div class="relative">
                            <input class="p-2 rounded-xl border w-full" type="password" placeholder="enter your password" name="password" ngModel required #password="ngModel">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-eye absolute top-1/2 right-3 -translate-y-1/2 " viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                              </svg>

                        </div>
                        <button   class=" login  bg-blue-900 rounded-xl text-white py-2">Log in </button>
                        

                    </form>
<!-- ---------------------------------------- -->
                    <div class="mt-10 grid grid-cols-3 items-center text-gray-400">
                        <hr class="border-gray-400">
                        <p class="text-center text-sm"> Or</p>
                        <hr class="border-gray-400">
                    </div>
                    <button class="bg-white border py-2 w-full rounded-xl mt-5">Login</button>
                    <p class="mt-5 text-xs border-b py-4 ">Forget Password ?</p>

            </div>

            <div class="sm:block hidden w-1/2">
                <img  class=" rounded-2xl h-full"  src="./assets/images/images.jpg" alt="">
            </div>

        </div>

    </section>
</body>
</html>
