<div class="father bg-[#f5f4f3] h-[35.1rem] w-full ">
    <div class="members   flex flex-col gap-2 text-lg font-medium p-2">
        <button (click)="enableAll()" class=" bg-[#22c55e] rounded-[25px] text-white mr-2 mb-8 w-[30%] self-end ">Get all permission</button>
        <div class="menmber relative px-2 gap-2 items-center justify-start flex " *ngFor="let member of members">
            <div class="flex  w-full justify-between ">{{member.name}} 
                <div class=" flex gap-2 " *ngIf="workLab?.auther==user?._id">
                    <button class=" bg-[#07345f] text-white px-2 rounded-md" (click)="enable(member.id)">permission</button>
                    <button class=" bg-red-500 text-white px-2 rounded-md" (click)="removeParticipant(member.id)">remove</button>

                </div>
            </div>
            <!-- <div *ngIf="workLab?.auther===member?.id" class=" bg-red-200 ">...</div> -->
        </div>
    </div>
</div>