.rot{
   transform:  rotate3d(1, 1, 0, 30deg)
}
.bs{
    box-shadow: 31px 31px 95px 15px rgba(0,0,0,0.63);
}

.trans{
    animation: 1s ease-out 1.1s  slideInFromLeft;
    transition: all 3s ease-in-out;
}
.trans1{
    animation: 1s ease-out 1.2s  slideInFromLeft;
    transition: all 3s ease-in-out;
}
.trans2{
    animation: 1s ease-out 1.3s  slideInFromLeft;
    transition: all 3s ease-in-out;
}
.trans3{
    animation: 1s ease-out 1.4s  slideInFromLeft;
    transition: all 3s ease-in-out;
}
@keyframes slideInFromLeft {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

.scal{
    animation: 1.1s ease-out 0s scaling ;
    transition: all 3s ease-in-out;
}
.scal3{
    animation: 1s ease-out 0s scaling ;
    transition: all 1s ease-in-out;
}
.scal5{
    animation: 1.2s ease-out 0s scaling ;
    transition: all 4s ease-in-out;
}
.scal7{
    animation: 1.3s ease-out 0s scaling ;
    transition: all 2s ease-in-out;
}
  @keyframes scaling {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }


  /* -------------------------------------------------------------------------------------- */

  .slider {
    background: white;
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 36);

}

.slider .slide-track:hover {
    animation-play-state: paused;
}

.slider .slide {
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  /* background: rgb(225, 225, 225); */
    height: 300px;
    width: 300px;
}

/* 
.slide:nth-child(1), .slide:nth-child(10) {
    background-color: yellow;
}

.slide:nth-child(2), .slide:nth-child(11) {
    background-color: coral;
}

.slide:nth-child(3), .slide:nth-child(12) {
    background-color: blue;
}

.slide:nth-child(4), .slide:nth-child(13) {
    background-color: red;
}

.slide:nth-child(5), .slide:nth-child(14) {
    background-color: orange;
} */


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 3));
    }
}