
    <!-- <div
    class="app-ace-editor"
    #editor
    class="w-full h-[300px] " ></div>
  <button (click)="exucte()" >
    run code
  </button>
{{codeee}} -->

<div class="father w-full bg-[#f6f9fc] ">
<div class="first relative h-[60vh] bg-[#01192f] w-full pl-[15%] pt-[10%] ">
  <div class=" text-white w-[40%] flex flex-col gap-8 items-start ">
    <p class=" text-4xl font-medium ">WorkLab</p>
    <p class=" text-xl ">The ultimate resource to prepare for coding interviews.
      Everything you need, in one streamlined platform.</p>
      <button routerLink="/login" class=" bg-[#626ee3] w-[40%] h-[3rem] rounded-md ">Login to WorkLab</button>
  </div>
        <div class="flex rot flex-wrap justify-between items-end gap-2 absolute w-[45%] h-[35rem] right-[5%] top-[10%]   rounded-md ">
            <div class="scal w-[49%] h-[55%] border-2 rounded-md  border-solid border-[#15314b] bg-[#02203c]  ">

              <div class="top w-full h-[2rem] bg-[#15314b] rounded-sm font-medium text-white pl-2 ">Prompt</div>
              <div class="mid text-white font-medium pl-2 overflow-hidden flex flex-col gap-8 ">
                
                <div class=" flex flex-col gap-2 ">
                  <p>Max profit with k transport</p>
                  <div class="trans w-[60%] h-[.8rem] rounded-md bg-[#1f384e] "></div>
                <div class="trans1 w-[65%] h-[.8rem] rounded-md bg-[#1f384e] "></div>
                <div class="trans2 w-[75%] h-[.8rem] rounded-md bg-[#1f384e] "></div>
                <div class="trans1 w-[65%] h-[.8rem] rounded-md bg-[#1f384e] "></div>
                <div class="trans3 w-[63%] h-[.8rem] rounded-md bg-[#1f384e] "></div>
                </div>
                <div class="flex flex-col gap-2">
                <div class="trans1 w-[70%] h-[.8rem] rounded-md bg-[#1f384e] "></div>
                <div class="trans2 w-[65%] h-[.8rem] rounded-md bg-[#1f384e] "></div>
                <div class="trans3 w-[75%] h-[.8rem] rounded-md bg-[#1f384e] "></div>
                <div class="trans3 w-[75%] h-[.8rem] rounded-md bg-[#1f384e] "></div>
                <div class="trans1 w-[65%] h-[.8rem] rounded-md bg-[#1f384e] "></div>

               
                </div>
                
              </div>
            </div>

            <div class="scal3  w-[49%] h-[55%] border-2 rounded-md  border-solid border-[#15314b] bg-[#02203c]  ">
              <div class="top w-full h-[2rem] bg-[#15314b] rounded-sm font-medium text-white pl-2  flex justify-between  ">
                <div>input</div>
                <div class=" bg-[#0046c7] px-3 flex justify-center items-center hover:cursor-pointer">run</div>
              </div>
              <div class="mid p-4 flex flex-col gap-[.4rem]">
                  <div class=" w-[70%] h-4 rounded-md flex gap-1 ">
                      <div class=" rounded-md w-[25%] h-full bg-[#48aca2]"></div>
                      <div class=" rounded-md h-full w-[50%] bg-[#be8a28] "></div>
                      <div class=" rounded-md h-full w-[30%] bg-[#be8a28] "></div>
                  </div>
                  <div class=" w-[75%] h-4 rounded-md flex gap-1 ml-4 ">
                    <div class=" rounded-md w-[10%] h-full bg-blue-500 "></div>
                    <div class=" rounded-md h-full w-[8%] bg-[#5a395a] "></div>
                    <div class=" rounded-md h-full w-[25%] bg-[#be8a28]"></div>
                    <div class=" rounded-md h-full w-[55%] bg-[#be8a28]"></div>

                </div>
                <div class=" w-[80%] h-4 rounded-md flex gap-1 ml-8 ">
                  <div class=" rounded-md w-[30%] h-full bg-[#293a8e] "></div>
                  <div class=" rounded-md h-full w-[32%] bg-[#78c078] "></div>
                  <div class=" rounded-md h-full w-[30%] bg-[#78c078]"></div>
                  <div class=" rounded-md h-full w-[10%] bg-[#5a395a]"></div>

              </div>
              <div class=" w-[75%] h-4 rounded-md flex gap-1 ml-8 ">
                <div class=" rounded-md w-[35%] h-full bg-[#48aca2] "></div>
                <div class=" rounded-md h-full w-[30%] bg-[#5a395a] "></div>
                <div class=" rounded-md h-full w-[30%] bg-[#78c078]"></div>
                <div class=" rounded-md h-full w-[10%] bg-[#5a395a]"></div>

            </div>
            <div class=" w-[20%] h-4 rounded-md flex gap-1 ml-4 mb-4 ">
              <div class=" rounded-md w-[35%] h-full bg-[#be8a28] "></div>
              <div class=" rounded-md h-full w-[65%] bg-[#be8a28] "></div>
              
          </div>
          <div class=" w-[40%] h-4 rounded-md flex gap-1 ">
            <div class=" rounded-md w-[25%] h-full bg-[#be8a28]  "></div>
            <div class=" rounded-md h-full w-[50%] bg-[#be8a28]  "></div>
            <div class=" rounded-md h-full w-[30%] bg-[#5e5efb]"></div>
        </div>
        <div class=" w-[70%] h-4 rounded-md flex gap-1 ml-4 ">
          <div class=" rounded-md w-[10%] h-full bg-[#48aca2] "></div>
          <div class=" rounded-md h-full w-[40%] bg-[#48aca2] "></div>
          <div class=" rounded-md h-full w-[15%] bg-[#78c078]"></div>
          <div class=" rounded-md h-full w-[35%] bg-[#5e5efb]"></div>

      </div>
      <div class=" w-[75%] h-4 rounded-md flex gap-1 ml-8 ">
        <div class=" rounded-md w-[35%] h-full bg-[#be8a28]"></div>
        <div class=" rounded-md h-full w-[12%] bg-[#78c078]"></div>
        <div class=" rounded-md h-full w-[45%] bg-[#be8a28]"></div>
        <div class=" rounded-md h-full w-[8%] bg-[#78c078]"></div>

    </div>
    <div class=" w-[70%] h-4 rounded-md flex gap-1 ml-8">
      <div class=" rounded-md w-[25%] h-full bg-[#5a395a] "></div>
      <div class=" rounded-md h-full w-[10%] bg-[#be8a28] "></div>
      <div class=" rounded-md h-full w-[45%] bg-[#5e5efb]"></div>
      <div class=" rounded-md h-full w-[20%] bg-[#be8a28]"></div>

  </div>
  <div class=" w-[25%] h-4 rounded-md flex gap-1 ml-4 ">
    <div class=" rounded-md w-[45%] h-full bg-[#78c078]"></div>
    <div class=" rounded-md h-full w-[40%] bg-[#be8a28] "></div>

</div>
  
              </div>
            </div>
            <div class="scal5 w-[49%] h-[45%]  rounded-md bs shadow-2xl border-solid border-gray-50 bg-[#02203c]  ">
              <div class="top w-full h-[13%] bg-[#15314b] rounded-sm font-medium text-white pl-2  flex justify-between  ">
                <div>Tests</div>
                <!-- <div class=" bg-[#0046c7] px-3 flex justify-center items-center ">run</div> -->
              </div>
              <div class="mid p-3 w-full flex flex-col h-[87%] gap-4 ">
                <div class=" w-full h-[3rem] bg-[#15314b] rounded-md flex justify-start items-center ">
                    <div class=" h-[1rem] w-[60%] flex gap-1 pl-4 ">
                      <div class=" w-[15%] h-full rounded-md bg-[#5e5efb]"></div>
                      <div class=" w-[15%] h-full rounded-md bg-[#5e5efb]"></div>
                      <div class=" w-[10%] h-full rounded-md bg-[#5a395a]"></div>
                      <div class=" w-[40%] h-full rounded-md bg-[#78c078]"></div>
                    </div>
                </div>
                <div class=" w-full h-[3rem] bg-[#15314b] rounded-md flex justify-start items-center ">
                  <div class=" h-[1rem] w-[55%] flex gap-1 pl-4 ">
                    <div class=" w-[25%] h-full rounded-md bg-[#be8a28] "></div>
                    <div class=" w-[35%] h-full rounded-md bg-[rgb(94,94,251)] "></div>
                    <div class=" w-[10%] h-full rounded-md bg-[#be8a28] "></div>
                    <div class=" w-[20%] h-full rounded-md bg-[#5a395a]"></div>
                  </div>
                </div>
                <div class=" w-full h-[3rem] bg-[#15314b] rounded-md flex justify-start items-center ">
                  <div class=" h-[1rem] w-[75%] flex gap-1 pl-4 ">
                    <div class=" w-[10%] h-full rounded-md bg-[#48aca2]"></div>
                    <div class=" w-[10%] h-full rounded-md bg-[#78c078]"></div>
                    <div class=" w-[30%] h-full rounded-md bg-[#5a395a]"></div>
                    <div class=" w-[45%] h-full rounded-md bg-[#be8a28]"></div>
                  </div>
                </div> 
              
          </div>
            </div>





            <div class="scal7 w-[49%] h-[45%]  rounded-md bs border-solid border-gray-50 bg-[#02203c]  ">
              <div class="top w-full h-[2rem] bg-[#15314b] rounded-sm font-medium text-white pl-2  flex justify-between  ">
                <div>output</div>
                <div class=" bg-[#008529] px-3 flex justify-center items-center hover:cursor-pointer">submit</div>
              </div>
              <div class="mid p-3 w-full flex flex-col gap-4 ">
                <div class="  w-full h-[3rem] bg-[#15314b] rounded-md flex justify-center items-center ">
                  <div class=" w-[60%] h-[1rem] bg-[#c54242] rounded-md "></div>
              </div>
              <div class="  w-full h-[3rem] bg-[#15314b] rounded-md flex justify-center items-center ">
                <div class=" w-[60%] h-[1rem] bg-[#3f8854] rounded-md "></div>
            </div>
            <div class="  w-full h-[3rem] bg-[#15314b] rounded-md flex justify-center items-center ">
              <div class=" w-[60%] h-[1rem] bg-[#3f8854] rounded-md "></div>
          </div>
              </div>
            </div>

        </div>
</div>
<div class="second w-full h-[100vh] pt-[11rem] ">
  <div class=" m-auto w-[20%] text-4xl font-medium mb-8 ">What is WorkLab ?</div>

  <div class="branches w-[80%] gap-[5%] flex flex-wrap m-auto  ">
    <div class="branch my-4 w-[30%] hover:bg-[#fbfbfb] hover:shadow-2xl rounded-md p-4 hover:cursor-pointer ">
      <div class="title text-center text-[#17334d] text-lg font-medium ">160 Hand-Picked Questions</div>
      <div class="body text-[#4f6777] text-center">Coding interview prep is a numbers game
         that many candidates lose. We've hand-picked 160 of the
         best coding interview questions to prepare you for every
          interview you could encounter.</div>
    </div>
    <div class="branch text-center my-4 w-[30%] bg-gray-50 hover:bg-[#fbfbfb] hover:shadow-2xl rounded-md p-4 hover:cursor-pointer">
      <div class="title text-lg font-medium text-[#17334d]">Data Structures Crash Course</div>
      <div class="body text-[#4f6777] text-center">Data structures are the pillars
         of coding interviews. Our video series gives you the
         foundational knowledge you need to be
          well-versed in all of the popular data structures.</div>
    </div>
    <div class="branch text-center my-4 w-[30%] bg-gray-50 hover:bg-[#fbfbfb] hover:shadow-2xl rounded-md p-4 hover:cursor-pointer">
      <div class="title text-[#17334d] text-lg font-medium">Data Structures Crash Course</div>
      <div class="body text-[#4f6777] text-center">Data structures are the pillars
         of coding interviews. Our video series gives you the
         foundational knowledge you need to be
          well-versed in all of the popular data structures.</div>
    </div>
    <div class="branch text-center my-4 w-[30%] bg-gray-50 hover:bg-[#fbfbfb] hover:shadow-2xl rounded-md p-4 hover:cursor-pointer">
      <div class="title text-cyan-900 text-lg font-medium">Data Structures Crash Course</div>
      <div class="body text-[#4f6777] text-center">Data structures are the pillars
         of coding interviews. Our video series gives you the
         foundational knowledge you need to be
          well-versed in all of the popular data structures.</div>
    </div>
  </div>
</div>
</div>
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>